<div class="container my-5">
    <div class="mb-3">
        <label for="Email1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="Email1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label for="Password1" class="form-label">Password</label>
        <input type="password" class="form-control" id="Password1">
    </div>
    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary" id="submitLogin">Submit</button>
</div>